@media (max-width:1397px) and (min-width:1382px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 450px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }


}

@media (max-width:1381px) and (min-width:1350px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 450px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:1349px) and (min-width:1300px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 370px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:1299px) and (min-width:1280px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 400px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }

}

@media (max-width:1279px) and (min-width:1080px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1060px;
        height: 1800px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 400px;
        height: 300px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 300px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }

}

@media (max-width:1079px) and (min-width:1024px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1000px;
        height: 1800px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 380px;
        height: 300px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 280px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }

}

@media (max-width:1023px) and (min-width:1020px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 1000px;
        height: 1800px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 380px;
        height: 300px;
        margin-left: 70px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 260px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }

}

@media (max-width:1019px) and (min-width:915px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 380px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 200px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 95%;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:914px) and (min-width:896px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 380px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 190px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 95%;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:895px) and (min-width:883px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 360px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 190px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 95%;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:882px) and (min-width:854px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 360px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 170px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 95%;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:853px) and (min-width:844px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 350px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 170px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 95%;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:843px) and (min-width:834px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 814px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 350px;
        height: 300px;
        margin-left: 20px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 170px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 750px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }

}

@media (max-width:833px) and (min-width:812px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 340px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 150px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 720px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:811px) and (min-width:810px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 340px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 150px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 720px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:809px) and (min-width:800px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 330px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 140px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 720px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:799px) and (min-width:760px) {
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;

    }

    .contenucentral2 .contenu2 img {
        width: 310px;
        height: 280px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 120px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 720px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}


@media (max-width:759px) and (min-width:744px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 724px;
        height: 2100px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 330px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 130px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 700px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:743px) and (min-width:736px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 88%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 310px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 110px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 650px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;


    }
}

@media (max-width:735px) and (min-width:667px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 280px;
        height: 260px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: 85px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 600px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }
}



@media   (max-width:650px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 280px;
        height: 260px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: 85px;
        font-family: 'raleway', sans-serif;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 570px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }
}
@media (max-width:649px) and (min-width:430px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 30px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -5px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 370px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }
}
@media (max-width:429px) and (min-width:428px) {
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 30px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -5px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 370px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }
}
@media (max-width:427px) and (min-width:414px) {
    .contenucentral2 {
        width: 100%;
        height: 2395px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 20px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 370px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    } 
}
@media (max-width:413px) and (min-width:412px){
    .contenucentral2 {
        width: 100%;
        height: 2395px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 20px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 370px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    } 
}
@media (max-width:411px) and (min-width:390px) {
    .contenucentral2 {
        width: 100%;
        height: 2495px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91.5%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 10px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 350px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }   
}
@media (max-width:389px) and (min-width:384px) {
    .contenucentral2 {
        width: 100%;
        height: 2495px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91.5%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 150px;
        height: 120px;
        margin-left: 10px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 350px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }   
}
@media (max-width:383px) and (min-width:375px) {
    .contenucentral2 {
        width: 100%;
        height: 2555px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91.5%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 130px;
        height: 120px;
        margin-left: 20px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 340px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }   
}
@media (max-width:374px) and (min-width:360px){
    .contenucentral2 {
        width: 100%;
        height: 2605px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91.5%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 130px;
        height: 120px;
        margin-left: 20px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 300px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 15px;


    }   
}
@media (max-width:359px) and (min-width:320px) {
    .contenucentral2 {
        width: 100%;
        height: 2675px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;

    }

    .contenucentral2 .contenu2 {
        width: 95%;
        height: 91.5%;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;

    }

    .contenucentral2 .contenu2 img {
        width: 125px;
        height: 120px;
        margin-left: 5px;
        margin-top: -15px;
    }

    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 26px;
        left: -10px;
        font-family: 'raleway', sans-serif;
        text-align: center;

    }

    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }

    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 280px;
    }

    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway', sans-serif;
        font-size: 14px;


    }     
}